version: '3.3'

services:
  class-08-exploit-lab:
    build: exploit-lab/
    image: scl-class-08-exploitation-lab  # name of the built image
    container_name: scl-class-08-exploitation-lab
    platform: linux/amd64 # important
    restart: on-failure
    security_opt:
      - seccomp:/classes/class08/exploit-lab/seccomp-profile.json
    stop_grace_period: 0s
    hostname: class8-exploitation-lab

    networks:
      playground-net:
        ipv4_address: 172.20.0.115

  class-08-exercise:
    build: exercise/
    image: scl-class-08-exercise  # name of the built image
    container_name: scl-class-08-exercise
    platform: linux/amd64 # important
    restart: on-failure
    stop_grace_period: 0s
    hostname: class8-exercise

    networks:
      playground-net:
        ipv4_address: 172.20.0.116


networks:
  playground-net:
    external: true