<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log in</title>
  <style>
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
  </style>
</head>
<body>
<form action="/auth/login" method="post">
  <!--/*@thymesVar id="error" type="java.lang.Boolean"*/-->
  <div th:if="${error}">
    <p>Invalid credentials, please try again.</p>
  </div>
  <label>
    Username:
    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
    <input type="text" name="username" th:value="${username}" />
  </label>
  <label>
    Password:
    <input type="password" name="password" />
  </label>
  <input type="submit" value="Log in" />
</form>
</body>
</html>
